<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">

    <% list.forEach(function(r) { %>
      <li><%= r.currency %> - <%= r.last_value %></li>
    <% }); %>

    <p> $sum: <%= sum.last_value %></p>
    <p> czk: <%= sum.last_value*usd2czk %> </p>

  </div>
</div>
</div>


</body>
</html>
